<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ticket Creator sample</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <% styles.forEach( function ( file ) { %>
        <link type="text/css" rel="stylesheet" href="<%= file %>" /><% }); %>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Ticket Creator</h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" id="menu-import"><i class="glyphicon glyphicon-import"></i> Import</a>
                        </li>
                        <li>
                            <a href="#" id="menu-export"><i class="glyphicon glyphicon-export"></i> Export</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapseCommon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Common controls</a>
                                </h4>
                            </div>
                            <div id="collapseCommon" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item add-control" data-type="text"><i class="glyphicon glyphicon-font"></i> Text</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="clearfix" />
                    <div class="panel-group" id="data-input">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapseDataInput" class="accordion-toggle" data-toggle="collapse" data-parent="#data-input">Data Input</a>
                                </h4>
                            </div>
                            <div id="collapseDataInput" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea id="txt-data-input" class="col-md-12" placeholder="Enter a JSON array representation">[{"IdBoleto":2,"Fila":"A","Asiento":3}]</textarea>
                                    <button class="btn btn-primary" id="btn-update-data-input">Update</button>
                                    <h4>Data Tree</h4>
                                    <div id="data-tree"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title">Preview</h4>
                        </div>
                        <div class="panel-body">
                            <div id="canvas" class="span12">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Properties</h4>
                        </div>
                        <div class="panel-body">
                            <div id="control-selector"></div>
                            <div id="control-properties"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="project-window" tabindex="-1" role="dialog" aria-labelledby="project-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="project-label"></h4>
                    </div>
                    <div class="modal-body" id="project-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="project-action"></button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </body>
</html>
